@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acces nepermis";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nu aveti acces la aceasta pagina.</p>
</header>
