@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmare inregistrare";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>Bine ati venit pe site-ul nostru! <a id="confirm-link" href="@Model.EmailConfirmationUrl">Apasati pentru a confirma contul</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

