@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Date personale";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Contul dvs. contine date personale. Aceasta pagina permite sa stergeti sau sa descarcati datele.</p>
        <p>
            <strong>Daca stergeti datele veti sterge si contul de utilizator.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Descarca</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Sterge</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
